.article-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #000000;
}

.article-btn {
  padding: 15px 20px;
  width: 280px;
  height: 52px;
  background: rgba(81, 163, 238, 0.7);
  border-radius: 25px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom: 80px;
}

.articles-list-p {
  /* width: 751px;
  height: 76px; */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50%;
  color: #000000;
  margin-left: 60px;
}

.articles-list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}

.autor-block {
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
}
.articles-img {
  width: 315px;
  height: 200px;
}

.autor {
  width: 187px;
  height: 19px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #00000091;
}
