.article-head {
  padding-top: 100px;
  background: linear-gradient(56deg, rgb(23, 168, 182), rgb(33, 181, 114));
}
.article-header-box {
  position: relative;
  top: -100px;
}
.article-title {
  color: #fff;
}
.article-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.article-btn {
  padding: 15px 20px;
  width: 280px;
  height: 52px;
  background: #2f5aa8;
  border-radius: 25px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom: 80px;
  margin-top: 50px;
}

.articles-list-p {
  width: 751px;
  height: 76px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  display: flex;
  text-align: start;
  align-items: flex-start;
  color: #000000;
  margin-left: 60px;
  position: relative;
  top: 25px;
}

.articles-list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}

.autor-block {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  position: relative;
  top: -30px;
}
.articles-img {
  width: 315px;
  height: 200px;
}

.autor {
  width: 187px;
  height: 19px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #00000091;
  position: relative;
  right: 175px;
}
