
.wish {
    margin: 0px 100px;
    padding-top: 50px;
}  
.wishlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 60px 40px;
    padding-top: 8vh;
}
.wishlist-rus h2{
    height: 38px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    color: #000000;
    padding: 0%;
    margin: 0%;
}
.wishlist-rus p{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
}
.wishlist-card {
    border-radius: 8px;
    cursor: pointer;
}
.wishlist-card b{
    text-align: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    margin: 0%;
}
.wichlist-p{
    text-align: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.wishlist-product {
    width: 100%;
    height: 35vh;
    object-fit: contain;
}